.FormContent {
    display: flex !important;
    flex-direction: column;
    row-gap: 1rem;
}

.Modal {
    max-width: 600px !important;

    & button:last-of-type {
        margin-left: 0.5rem !important;
    }
}
