.NoServiceSegment {
    margin-left: 1rem !important;

    & i {
        margin-bottom: 1.5rem !important;
    }

    & div {
        margin-bottom: 1.5rem !important;
    }
}

.Modal {
    max-width: 600px !important;
}
