.UserPage {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 3rem;
    padding-bottom: 3rem;

    grid-template-areas: 'menu content';

    & > div:first-of-type {
        grid-area: 'menu';
    }
    & > div:first-of-type {
        grid-area: 'content';
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 950px) {
    .UserPage {
        grid-template-columns: 210px auto;
    }
}

@media (max-width: 800px) {
    .UserPage {
        column-gap: 0;
        grid-template-areas: 'content';
        grid-template-columns: 1fr;
    }
}
